
body {
margin-top: 60px !important;
background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

#backgroundImage {
	margin-top: 20px;
	margin-bottom: 20px;
}

#parallaxButton {
	margin-bottom: 35px;
}

#registerBox {
	margin-left: 230px;
}

#loginBox {
	margin-left: 90px;
}

#registerText {
	margin-top: 20px;
}